input,
select,
textarea {
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--text);
  background-color: var(--background);
  width: 100%;
  display: inline-block;
  border: 1px solid var(--border);
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}
