input,
select,
textarea {
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--text);
  background-color: var(--background);
  width: 100%;
  display: inline-block;
  border: 1px solid var(--border);

  &:focus {
    outline-color: var(--accent);
    border: 1px solid var(--accent);
    outline: none;
    box-shadow: 0 0 10px var(--accent);
  }
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}
