nav {
  font-size: 1rem;
  line-height: 2;
  padding: 1rem 0 0 0;

  align-content: space-around;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;

  a,
  a:visited {
    margin: 0 1rem 1rem 0;
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--text);
    display: inline-block;
    padding: 0.1rem 1rem;
    text-decoration: none;
    &:hover {
      color: var(--accent);
      border-color: var(--accent);
    }
  }
}
